* {
  padding: 0;
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.bigWrapper {
  height: 100vh;
  width: 100vw;
}

.title {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.wrapper img {
  margin: 40px;
}
.wrapper2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.wrapper2 img {
  margin: 10px 40px 10px 40px;
}
