* {
  padding: 0;
  margin: 0;
  font-family: Barlow Condensed, sans-serif;
  color: whitesmoke;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

h1 {
  color: whitesmoke;
  font-size: 300px;
}

h4 {
  font-size: 50px;
}

a {
  text-decoration: none;
}

a:hover {
  color: gold;
}

.main-greeting {
  font-size: 150px;
}
